<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Settings
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/sharp-solid.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/masonry/">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/additional.css">
</head>

<body class="bg-gray-900">
    <nav class="bg-gray-800 shadow-lg">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <a href="/dashboard" class="flex-shrink-0 flex items-center">
                        <i class="text-gray-50 text-xl fa-solid fa-objects-column"></i>
                        <span class="text-gray-300 text-lg ml-2 font-semibold">Colidea</span>
                    </a>
                </div>
                <form action="/search" class="flex items-center" style="width: 40%;">
                    <input class="h-9 bg-slate-700 rounded-md my-auto w-full outline-none pl-4 text-slate-300"
                        type="search" name="query" id="searchInput" placeholder="Type here to search..."
                        autocomplete="off" required>
                    <button id="searchButton"
                        class="px-4 h-9 py-2 bg-slate-900 rounded-md text-slate-400 text-center">search</button>
                </form>
                <div class="flex items-center">
                    <div class="hidden md:block">
                        <a href="/following-blogs"
                            class="text-gray-300 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Home</a>
                        <a href="#"
                            class="text-gray-300 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">About</a>
                        <a href="/explore"
                            class="text-gray-300 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Explore</a>
                        <a href="/edit-profile"
                            class="bg-gray-700 text-gray-300 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Edit Profile</a>
                    </div>
                </div>
                <div class="flex md:hidden">
                    <button class="text-gray-300 hover:bg-gray-700 p-2 rounded-md">
                        <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>



    <form class="grid grid-cols-2 mt-10 w-2/3 mx-auto gap-6 p-6 bg-gray-800 rounded-lg shadow-md" action="/update-settings" method="POST">
        <div class="flex flex-col gap-2">
            <label for="firstName" class="block text-sm font-medium text-gray-300">First Name:</label>
            <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>" required
                class="mt-1 outline-none pl-3 h-10 block w-full shadow-sm sm:text-sm bg-gray-700 text-gray-200 border-gray-600 rounded-md">
        </div>
        <div class="flex flex-col gap-2">
            <label for="lastName" class="block text-sm font-medium text-gray-300">Last Name:</label>
            <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>" required
                class="mt-1 outline-none pl-3 h-10 block w-full shadow-sm sm:text-sm bg-gray-700 text-gray-200 border-gray-600 rounded-md">
        </div>
        <div class="flex flex-col gap-2">
            <label for="inputCountry" class="block text-sm font-medium text-gray-300">Country:</label>
            <select id="inputCountry" name="country" class="mt-1 text-gray-200 bg-gray-700 outline-none pl-3 h-10 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                <option value="India" <%= user.country === 'India' ? 'selected' : '' %>>India</option>
                <option value="Afghanistan" <%= user.country === 'Afghanistan' ? 'selected' : '' %>>Afghanistan</option>
                <option value="Algeria" <%= user.country === 'Algeria' ? 'selected' : '' %>>Algeria</option>
                <option value="Argentina" <%= user.country === 'Argentina' ? 'selected' : '' %>>Argentina</option>
                <option value="Australia" <%= user.country === 'Australia' ? 'selected' : '' %>>Australia</option>
                <option value="Azerbaijan" <%= user.country === 'Azerbaijan' ? 'selected' : '' %>>Azerbaijan</option>
                <option value="Bangladesh" <%= user.country === 'Bangladesh' ? 'selected' : '' %>>Bangladesh</option>
                <option value="Belarus" <%= user.country === 'Belarus' ? 'selected' : '' %>>Belarus</option>
                <option value="Benin" <%= user.country === 'Benin' ? 'selected' : '' %>>Benin</option>
                <option value="Bolivia" <%= user.country === 'Bolivia' ? 'selected' : '' %>>Bolivia</option>
                <option value="Brazil" <%= user.country === 'Brazil' ? 'selected' : '' %>>Brazil</option>
                <option value="Burundi" <%= user.country === 'Burundi' ? 'selected' : '' %>>Burundi</option>
                <option value="Cambodia" <%= user.country === 'Cambodia' ? 'selected' : '' %>>Cambodia</option>
                <option value="Cameroon" <%= user.country === 'Cameroon' ? 'selected' : '' %>>Cameroon</option>
                <option value="Canada" <%= user.country === 'Canada' ? 'selected' : '' %>>Canada</option>
                <option value="Chad" <%= user.country === 'Chad' ? 'selected' : '' %>>Chad</option>
                <option value="China" <%= user.country === 'China' ? 'selected' : '' %>>China</option>
                <option value="Colombia" <%= user.country === 'Colombia' ? 'selected' : '' %>>Colombia</option>
                <option value="Côte d'Ivoire" <%= user.country === "Côte d'Ivoire" ? 'selected' : '' %>>Côte d'Ivoire</option>
                <option value="Democratic Republic of the Congo" <%= user.country === 'Democratic Republic of the Congo' ? 'selected' : '' %>>Democratic Republic of the Congo</option>
                <option value="Dominican Republic" <%= user.country === 'Dominican Republic' ? 'selected' : '' %>>Dominican Republic</option>
                <option value="Egypt" <%= user.country === 'Egypt' ? 'selected' : '' %>>Egypt</option>
                <option value="Ethiopia" <%= user.country === 'Ethiopia' ? 'selected' : '' %>>Ethiopia</option>
                <option value="France" <%= user.country === 'France' ? 'selected' : '' %>>France</option>
                <option value="Germany" <%= user.country === 'Germany' ? 'selected' : '' %>>Germany</option>
                <option value="Ghana" <%= user.country === 'Ghana' ? 'selected' : '' %>>Ghana</option>
                <option value="Guinea" <%= user.country === 'Guinea' ? 'selected' : '' %>>Guinea</option>
                <option value="Haiti" <%= user.country === 'Haiti' ? 'selected' : '' %>>Haiti</option>
                <option value="Honduras" <%= user.country === 'Honduras' ? 'selected' : '' %>>Honduras</option>
                <option value="Hungary" <%= user.country === 'Hungary' ? 'selected' : '' %>>Hungary</option>
                <option value="India" <%= user.country === 'India' ? 'selected' : '' %>>India</option>
                <option value="Indonesia" <%= user.country === 'Indonesia' ? 'selected' : '' %>>Indonesia</option>
                <option value="Iran" <%= user.country === 'Iran' ? 'selected' : '' %>>Iran</option>
                <option value="Iraq" <%= user.country === 'Iraq' ? 'selected' : '' %>>Iraq</option>
                <option value="Italy" <%= user.country === 'Italy' ? 'selected' : '' %>>Italy</option>
                <option value="Japan" <%= user.country === 'Japan' ? 'selected' : '' %>>Japan</option>
                <option value="Kenya" <%= user.country === 'Kenya' ? 'selected' : '' %>>Kenya</option>
                <option value="Madagascar" <%= user.country === 'Madagascar' ? 'selected' : '' %>>Madagascar</option>
                <option value="Malawi" <%= user.country === 'Malawi' ? 'selected' : '' %>>Malawi</option>
                <option value="Malaysia" <%= user.country === 'Malaysia' ? 'selected' : '' %>>Malaysia</option>
                <option value="Mexico" <%= user.country === 'Mexico' ? 'selected' : '' %>>Mexico</option>
                <option value="Morocco" <%= user.country === 'Morocco' ? 'selected' : '' %>>Morocco</option>
                <option value="Mozambique" <%= user.country === 'Mozambique' ? 'selected' : '' %>>Mozambique</option>
                <option value="Myanmar" <%= user.country === 'Myanmar' ? 'selected' : '' %>>Myanmar</option>
                <option value="Nepal" <%= user.country === 'Nepal' ? 'selected' : '' %>>Nepal</option>
                <option value="Niger" <%= user.country === 'Niger' ? 'selected' : '' %>>Niger</option>
                <option value="Nigeria" <%= user.country === 'Nigeria' ? 'selected' : '' %>>Nigeria</option>
                <option value="North Korea" <%= user.country === 'North Korea' ? 'selected' : '' %>>North Korea</option>
                <option value="Pakistan" <%= user.country === 'Pakistan' ? 'selected' : '' %>>Pakistan</option>
                <option value="Peru" <%= user.country === 'Peru' ? 'selected' : '' %>>Peru</option>
                <option value="Philippines" <%= user.country === 'Philippines' ? 'selected' : '' %>>Philippines</option>
                <option value="Poland" <%= user.country === 'Poland' ? 'selected' : '' %>>Poland</option>
                <option value="Romania" <%= user.country === 'Romania' ? 'selected' : '' %>>Romania</option>
                <option value="Russia" <%= user.country === 'Russia' ? 'selected' : '' %>>Russia</option>
                <option value="Rwanda" <%= user.country === 'Rwanda' ? 'selected' : '' %>>Rwanda</option>
                <option value="Saudi Arabia" <%= user.country === 'Saudi Arabia' ? 'selected' : '' %>>Saudi Arabia</option>
                <option value="Senegal" <%= user.country === 'Senegal' ? 'selected' : '' %>>Senegal</option>
                <option value="Sierra Leone" <%= user.country === 'Sierra Leone' ? 'selected' : '' %>>Sierra Leone</option>
                <option value="South Africa" <%= user.country === 'South Africa' ? 'selected' : '' %>>South Africa</option>
                <option value="South Korea" <%= user.country === 'South Korea' ? 'selected' : '' %>>South Korea</option>
                <option value="South Sudan" <%= user.country === 'South Sudan' ? 'selected' : '' %>>South Sudan</option>
                <option value="Spain" <%= user.country === 'Spain' ? 'selected' : '' %>>Spain</option>
                <option value="Sri Lanka" <%= user.country === 'Sri Lanka' ? 'selected' : '' %>>Sri Lanka</option>
                <option value="Sudan" <%= user.country === 'Sudan' ? 'selected' : '' %>>Sudan</option>
                <option value="Syria" <%= user.country === 'Syria' ? 'selected' : '' %>>Syria</option>
                <option value="Taiwan" <%= user.country === 'Taiwan' ? 'selected' : '' %>>Taiwan</option>
                <option value="Tajikistan" <%= user.country === 'Tajikistan' ? 'selected' : '' %>>Tajikistan</option>
                <option value="Tanzania" <%= user.country === 'Tanzania' ? 'selected' : '' %>>Tanzania</option>
                <option value="Thailand" <%= user.country === 'Thailand' ? 'selected' : '' %>>Thailand</option>
                <option value="Tunisia" <%= user.country === 'Tunisia' ? 'selected' : '' %>>Tunisia</option>
                <option value="Turkey" <%= user.country === 'Turkey' ? 'selected' : '' %>>Turkey</option>
                <option value="Uganda" <%= user.country === 'Uganda' ? 'selected' : '' %>>Uganda</option>
                <option value="Ukraine" <%= user.country === 'Ukraine' ? 'selected' : '' %>>Ukraine</option>
                <option value="United Arab Emirates" <%= user.country === 'United Arab Emirates' ? 'selected' : '' %>>United Arab Emirates</option>
                <option value="United Kingdom" <%= user.country === 'United Kingdom' ? 'selected' : '' %>>United Kingdom</option>
                <option value="United States" <%= user.country === 'United States' ? 'selected' : '' %>>United States</option>
                <option value="Uzbekistan" <%= user.country === 'Uzbekistan' ? 'selected' : '' %>>Uzbekistan</option>
                <option value="Venezuela" <%= user.country === 'Venezuela' ? 'selected' : '' %>>Venezuela</option>
                <option value="Vietnam" <%= user.country === 'Vietnam' ? 'selected' : '' %>>Vietnam</option>
                <option value="Yemen" <%= user.country === 'Yemen' ? 'selected' : '' %>>Yemen</option>
                <option value="Zambia" <%= user.country === 'Zambia' ? 'selected' : '' %>>Zambia</option>
                <option value="Zimbabwe" <%= user.country === 'Zimbabwe' ? 'selected' : '' %>>Zimbabwe</option>
            </select>
        </div>
        <div class="flex flex-col gap-2">
            <label for="email" class="block text-sm font-medium text-gray-300">Email:</label>
            <input type="email" id="email" name="email" value="<%= user.email %>" required
                class="mt-1 outline-none pl-3 h-10 block w-full shadow-sm sm:text-sm bg-gray-700 text-gray-200 border-gray-600 rounded-md">
        </div>
        <div class="flex flex-col gap-2" style="width: 100%;">
            <label for="college" class="block text-sm font-medium text-gray-300">College:</label>

            <select name="college" class="mt-1 text-gray-200 bg-gray-700 outline-none pl-3 h-10 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <option>Prof. Ram Meghe College of Engineering and Management, Badnera-Amravati</option>
                            <option>Prof. Ram Meghe Institute of Technology and Research, Badnera-Amravati</option>
                            <option>Sipna College of Engineering and Technology, Amravati</option>
                            <option>P R Pote Engineering College</option>
                            <option>Government College of Amravati</option>
                            <option>VIT University</option>
                            <option>SRM Institute of Science and Technology</option>
                            <option>Manipal Institute of Technology</option>
                            <option>Christ University</option>
                            <option>Loyola College, Chennai</option>
                            <option>St. Xavier's College, Mumbai</option>
                            <option>Presidency College, Kolkata</option>
                            <option>Hindu College, Delhi</option>
                            <option>St. Stephen's College, Delhi</option>
                            <option>Lady Shri Ram College for Women</option>
                            <option>Amrita Vishwa Vidyapeetham</option>
                            <option>Thapar Institute of Engineering and Technology</option>
                            <option>Symbiosis International University</option>
                            <option>ICFAI Business School</option>
                            <option>SP Jain Institute of Management and Research</option>
                            <option>Xavier School of Management (XLRI)</option>
                            <option>Indian School of Business (ISB)</option>
                            <option>Narsee Monjee Institute of Management Studies (NMIMS)</option>
                            <option>FLAME University</option>
                            <option>Ashoka University</option>
                            <option>O.P. Jindal Global University</option>
                            <option>Amity University</option>
                            <option>Birla Institute of Technology and Science (BITS)</option>
                            <option>Shri Ram College of Commerce</option>
                            <option>National Institute of Fashion Technology (NIFT)</option>
                            <option>National Institute of Design (NID)</option>
                            <option>Srishti Institute of Art, Design, and Technology</option>
                            <option>PES University</option>
                            <option>Birla Institute of Technology, Mesra</option>
                            <option>Amrita School of Engineering</option>
                            <option>Lovely Professional University</option>
                            <option>St. Joseph's College, Bangalore</option>
                            <option>Jyoti Nivas College, Bangalore</option>
                            <option>Symbiosis Centre for Management Studies</option>
                            <option>Nirma University</option>
                            <option>Manipal Academy of Higher Education</option>
                            <option>FLAME University</option>
                            <option>Jindal Global Business School</option>
                            <option>Symbiosis School of Economics</option>
                            <option>Shiv Nadar University</option>
                            <option>Indian Maritime University</option>
                            <option>ICFAI Law School</option>
                            <option>Amrita School of Business</option>
                            <option>Whistling Woods International</option>
                            <option>Chitkara University</option>
                            <option>Mody University</option>
                            <option>Mount Carmel College, Bangalore</option>
                            <option>Symbiosis Law School</option>
                            <option>SRM University</option>
                            <option>Chandigarh University</option>
                            <option>Manipal School of Communication</option>
                            <option>SCMS Cochin School of Business</option>
                            <option>SP Jain School of Global Management</option>
                            <option>LPU School of Business</option>
                            <option>SRM Institute of Hotel Management</option>
                            <option>Manipal School of Architecture and Planning</option>
                            <option>Chitkara Business School</option>
                            <option>Amity Business School</option>
                            <option>Thapar School of Management</option>
                            <option>Vellore Institute of Technology Business School</option>
                            <option>SCMS School of Technology and Management</option>
                            <option>Galgotias University</option>
                            <option>GD Goenka University</option>
                            <option>Amity School of Engineering and Technology</option>
                            <option>Sharda University</option>
                            <option>KIIT School of Management</option>
                            <option>Bennett University</option>
                            <option>Amity School of Communication</option>
                            <option>Noida International University</option>
                            <option>SRM Institute of Science and Technology</option>
                            <option>Jindal School of Journalism and Communication</option>
                            <option>Quantum University</option>
                            <option>Amity School of Fashion Technology</option>
                            <option>Symbiosis Institute of Media and Communication</option>
                            <option>GD Goenka School of Fashion and Design</option>
                            <option>Amity School of Architecture and Planning</option>
                            <option>NIFT Mumbai</option>
                            <option>VIT School of Fashion</option>
                            <option>School of Fashion Technology, Pune</option>
                            <option>Symbiosis Institute of Design</option>
                            <option>Amity School of Hospitality</option>
                            <option>Manipal School of Nursing</option>
                            <option>Amrita School of Medicine</option>
                            <option>Symbiosis Institute of Technology</option>
                            <option>VIT School of Law</option>
                            <option>Manipal College of Pharmaceutical Sciences</option>
                            <option>Amity Law School</option>
                            <option>Symbiosis School of Culinary Arts</option>
                            <option>VIT School of Business</option>
                            <option>Manipal College of Dental Sciences</option>
                            <option>Amrita School of Arts and Sciences</option>
                            <option>VIT School of Social Sciences</option>
                            <option>Manipal School of Life Sciences</option>
                            <option>Amity Institute of Psychology and Allied Sciences</option>
                            <option>Symbiosis School for Liberal Arts</option>
                            <option>VIT School of Computer Science and Engineering</option>
                            <option>Manipal College of Allied Health Sciences</option>
                            <option>Amity Institute of Biotechnology</option>
                            <option>Symbiosis School of Biological Sciences</option>
                            <option>VIT School of Electronics Engineering</option>
                            <option>Manipal School of Information Sciences</option>
                            <option>Amity Institute of Nanotechnology</option>
                            <option>Symbiosis School of Economics</option>
                            <option>VIT School of Mechanical Engineering</option>
                            <option>Manipal College of Nursing</option>
                            <option>Amity Institute of Aerospace Engineering</option>
                            <option>Symbiosis School of International Studies</option>
                            <option>VIT School of Electrical Engineering</option>
                            <option>Manipal College of Physiotherapy</option>
                            <option>Amity Institute of Marine Science and Technology</option>
                            <option>Symbiosis Institute of Telecom Management</option>
                            <option>VIT School of Civil Engineering</option>
                            <option>Manipal College of Optometry</option>
                            <option>Amity Institute of Virology and Immunology</option>
                            <option>Symbiosis Institute of Business Management</option>
                            <option>VIT School of Architecture</option>
                            <option>Manipal College of Health Professions</option>
                            <option>Amity Institute of Clinical Psychology</option>
                            <option>Symbiosis Centre for Management Studies</option>
                            <option>VIT School of Chemical Engineering</option>
                            <option>Manipal Institute of Regenerative Medicine</option>
                            <option>Amity Institute of Disaster Management</option>
                            <option>Symbiosis Institute of Computer Studies and Research</option>
                            <option>VIT School of Advanced Sciences</option>
                            <option>Manipal School of Life Sciences</option>
                            <option>Amity Institute of Behavioral and Allied Sciences</option>
                            <option>Symbiosis Institute of Health Sciences</option>
                            <option>VIT School of Fashion Design</option>
                            <option>Manipal Institute of Digital Marketing</option>
                            <option>Amity Institute of Space Science and Technology</option>
                            <option>Indian Institute of Technology Bombay</option>
                            <option>Indian Institute of Technology Delhi</option>
                            <option>Indian Institute of Technology Kanpur</option>
                            <option>Indian Institute of Technology Madras</option>
                            <option>Indian Institute of Technology Kharagpur</option>
                            <option>Indian Institute of Technology Roorkee</option>
                            <option>Indian Institute of Technology Guwahati</option>
                            <option>Indian Institute of Technology Bhubaneswar</option>
                            <option>Indian Institute of Technology Gandhinagar</option>
                            <option>Indian Institute of Technology Hyderabad</option>
                            <option>Indian Institute of Technology Jodhpur</option>
                            <option>Indian Institute of Technology Patna</option>
                            <option>Indian Institute of Technology Indore</option>
                            <option>Indian Institute of Technology Mandi</option>
                            <option>Indian Institute of Technology (ISM) Dhanbad</option>
                            <option>Indian Institute of Technology Varanasi</option>
                            <option>Indian Institute of Technology Palakkad</option>
                            <option>Indian Institute of Technology Tirupati</option>
                            <option>Indian Institute of Technology Bhilai</option>
                            <option>Indian Institute of Technology Goa</option>
                            <option>Indian Institute of Technology Jammu</option>
                            <option>Indian Institute of Technology Dharwad</option>
                            <option>Indian Institute of Science Bangalore</option>
                            <option>Indian Institute of Management Ahmedabad</option>
                            <option>Indian Institute of Management Bangalore</option>
                            <option>Indian Institute of Management Calcutta</option>
                            <option>Indian Institute of Management Lucknow</option>
                            <option>Indian Institute of Management Indore</option>
                            <option>Indian Institute of Management Kozhikode</option>
                            <option>Indian Institute of Management Shillong</option>
                            <option>Indian Institute of Management Rohtak</option>
                            <option>Indian Institute of Management Raipur</option>
                            <option>Indian Institute of Management Udaipur</option>
                            <option>Indian Institute of Management Tiruchirappalli</option>
                            <option>Indian Institute of Management Kashipur</option>
                            <option>Indian Institute of Management Nagpur</option>
                            <option>Indian Institute of Management Visakhapatnam</option>
                            <option>Indian Institute of Management Bodh Gaya</option>
                            <option>Indian Institute of Management Amritsar</option>
                            <option>Indian Institute of Management Sambalpur</option>
                            <option>Indian Institute of Management Sirmaur</option>
                            <option>Indian Institute of Management Jammu</option>
                            <option>Indian Institute of Management Nagaland</option>
                            <option>Indian Institute of Management Ranchi</option>
                            <option>Indian Institute of Management Indore</option>
                            <option>Indian Institute of Management Kozhikode</option>
                            <option>Indian Institute of Management Shillong</option>
                            <option>Indian Institute of Management Rohtak</option>
                            <option>Indian Institute of Management Raipur</option>
                            <option>Indian Institute of Management Udaipur</option>
                            <option>Indian Institute of Management Tiruchirappalli</option>
                            <option>Indian Institute of Management Kashipur</option>
                            <option>Indian Institute of Management Nagpur</option>
                            <option>Indian Institute of Management Visakhapatnam</option>
                            <option>Indian Institute of Management Bodh Gaya</option>
                            <option>Indian Institute of Management Amritsar</option>
                            <option>Indian Institute of Management Sambalpur</option>
                            <option>Indian Institute of Management Sirmaur</option>
                            <option>Indian Institute of Management Jammu</option>
                            <option>Indian Institute of Management Nagaland</option>
                            <option>Indian Institute of Management Ranchi</option>
                            <option>Delhi University</option>
                            <option>Jawaharlal Nehru University</option>
                            <option>Anna University</option>
                            <option>University of Mumbai</option>
                            <option>University of Calcutta</option>
                            <option>Banaras Hindu University</option>
                            <option>Indian Statistical Institute</option>
                            <option>Indian Institute of Foreign Trade</option>
                            <option>Aligarh Muslim University</option>
                            <option>Jadavpur University</option>
                            <option>Manipal Academy of Higher Education</option>
                            <option>Amity University</option>
                            <option>Visvesvaraya Technological University</option>
                            <option>Savitribai Phule Pune University</option>
                            <option>Indian Institute of Technology Ropar</option>
                            <option>Indian Institute of Technology Mandi</option>
                            <option>Indian Institute of Technology (ISM) Dhanbad</option>
                            <option>Indian Institute of Technology Varanasi</option>
                            <option>Indian Institute of Technology Palakkad</option>
                            <option>Indian Institute of Technology Tirupati</option>
                            <option>Indian Institute of Technology Bhilai</option>
                            <option>Indian Institute of Technology Goa</option>
                            <option>Indian Institute of Technology Jammu</option>
                            <option>Indian Institute of Technology Dharwad</option>
                            <option>Indian Institute of Science Bangalore</option>
                            <option>Indian Institute of Management Ahmedabad</option>
                            <option>Indian Institute of Management Bangalore</option>
                            <option>Indian Institute of Management Calcutta</option>
                            <option>Indian Institute of Management Lucknow</option>
                            <option>Indian Institute of Management Indore</option>
                            <option>Indian Institute of Management Kozhikode</option>
                            <option>Indian Institute of Management Shillong</option>
                            <option>Indian Institute of Management Rohtak</option>
                            <option>Indian Institute of Management Raipur</option>
                            <option>Indian Institute of Management Udaipur</option>
                            <option>Indian Institute of Management Tiruchirappalli</option>
                            <option>Indian Institute of Management Kashipur</option>
                            <option>Indian Institute of Management Nagpur</option>
                            <option>Indian Institute of Management Visakhapatnam</option>
                            <option>Indian Institute of Management Bodh Gaya</option>
                            <option>Indian Institute of Management Amritsar</option>
                            <option>Indian Institute of Management Sambalpur</option>
                            <option>Indian Institute of Management Sirmaur</option>
                            <option>Indian Institute of Management Jammu</option>
                            <option>Indian Institute of Management Nagaland</option>
                            <option>Indian Institute of Management Ranchi</option>
                            <option>Indian Institute of Management Indore</option>
                            <option>Indian Institute of Management Kozhikode</option>
                            <option>Indian Institute of Management Shillong</option>
                            <option>Indian Institute of Management Rohtak</option>
                            <option>Indian Institute of Management Raipur</option>
                            <option>Indian Institute of Management Udaipur</option>
                            <option>Indian Institute of Management Tiruchirappalli</option>
                            <option>Indian Institute of Management Kashipur</option>
                            <option>Indian Institute of Management Nagpur</option>
                            <option>Indian Institute of Management Visakhapatnam</option>
                            <option>Indian Institute of Management Bodh Gaya</option>
                            <option>Indian Institute of Management Amritsar</option>
                            <option>Indian Institute of Management Sambalpur</option>
                            <option>Indian Institute of Management Sirmaur</option>
                            <option>Indian Institute of Management Jammu</option>
                            <option>Indian Institute of Management Nagaland</option>
                            <option>Indian Institute of Management Ranchi</option>
                            <option>Delhi University</option>
                            <option>Jawaharlal Nehru University</option>
                            <option>Anna University</option>
                            <option>University of Mumbai</option>
                            <option>University of Calcutta</option>
                            <option>Banaras Hindu University</option>
            </select>
        </div>
        <div class="col-span-2">
            <label for="bio" class="block text-sm font-medium text-gray-300">Bio:</label>
            <textarea id="bio" name="bio"
                class="mt-1 outline-none p-3 h-20 block w-full shadow-sm sm:text-sm bg-gray-700 text-gray-200 border-gray-600 rounded-md"><%= user.bio %></textarea>
        </div>
        <div class="col-span-2">
            <button type="submit"
                class="w-full bg-indigo-600 text-white p-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                Save Changes
            </button>
        </div>
    </form>

    <form class="grid grid-cols-1 mt-10 w-2/3 mx-auto gap-6 p-6 bg-gray-800 rounded-lg shadow-md mb-11" action="/deleteAccount/<%=user._id%>" method="POST">
        <p class="text-red-300" style="color: rgb(255, 52, 52);">Be very carefull while deleting the account, it will delete your every action on this website, which could never be recovered!! Once gone, it's gone forever...</p>
        <div class="flex flex-col gap-2">
            <input name="delUsername" class="bg-slate-700 pl-2 rounded-md text-slate-300" style="height: 6vh; border: none; outline: none;" type="text" placeholder="Type your username here to delete this account" autocomplete="off" required>
        </div>
        <button type="submit" class="w-full bg-red-600 text-white p-2 rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500" style="transition: 0.4s ease;">
            DELETE ACCOUNT PERMANENTLY
        </button>
    </form>
    
</body>
</html>